<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Men&uacute;</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button *ngIf="securityContext.loggedIn" menuClose ion-item (click)="openPage(homePage)">
        Página Principal
      </button>
      <button *ngIf="securityContext.loggedIn" menuClose ion-item (click)="openPage(profilePage)">
        Usuario
      </button>
      <button *ngIf="!securityContext.loggedIn" menuClose ion-item (click)="openPage(loginPage)">
        Iniciar Sesi&oacute;n
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<!--ion-nav [root]="rootPage"></ion-nav-->
