page-welcome {

  .grid {
      padding-top: 30px;
      height: 100%;
      padding: 0px;
  }

  .scroll-content {
      padding: 0px;
  }

  .header-row {
      height: 20%;
  }

  .logo-row {
      height: 100%;
      padding-top: 20px;
  }

  .bg-row {
      background: url('/assets/imgs/welcome/welcome-background.png') no-repeat center;
      background-size: 100% 100%;
      background-position: top center;
      height: 80%;
  }

  .pre-label-row {
      height: 30%;
  }

  .welcome-label-row {
      height: 20%;
  }

  .text-row {
      height: 25%;
  }

  .button-row {
      height: 25%;
      width: 100%;
  }

  .scroll {
      height: 100%
  }

  .item {
    background-color: transparent;
  }

  .elgarabato {
      width: 100%;
      height: 100%;
  }

  .login {
    background: url('/assets/imgs/welcome/login-button.png') no-repeat center;
    background-size: 100%;
    padding: 30px;
    text-transform: uppercase;
    box-shadow: none;
    color: #22d6b8;
    width: 100%;
    font-size: 20px;
  }
}
